* {

    box-sizing: border-box;
  }

  body {
    background-color: #973c00;
  }
  
 .codeTest {
    background: #f2f2f2;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
   
  }

  .logos2 {
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
    position: absolute;
    top: 0;
  }
 
  
  

  
  .logos:hover .logosSlide, .logos2:hover .logosSlide2  {
    animation-play-state: paused;
  }
  
  .logosSlide{
    width: fit-content;
    display: flex;
    animation: 30s slide infinite linear;
  }

  .logosSlide2 {
    width: fit-content;
    display: flex;
    animation: 35s slide infinite linear reverse;
  }



