@import "tailwindcss";

body {
    height: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;

}
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
} 

button {
    cursor: pointer;
    font-family: monospace;
}



